<h2>Home Page</h2>
<hr>
<br>
<a href="/products">Autos</a>

const socket=io()

<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/home.js"></script>

socket.on("bienvenida",data=>{
    console.log(data.message)
})